/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    user-select: none;
}

:root{
    /* ===== Colors ===== */
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #695CFE;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;
    --text-color5: #7070703b;
    --text-color2: #000;
    --text-color3: #00800080;
    --toggle-color2: #E4E6EB;
    --AlertBox-color1:#009700d4;
    --AlertBox-color2:#e40000;
    --AlertBox-color3:hsl(48deg 100% 53%);
    /* ====== Transition ====== */
    --tran-02: all 0.1s ease;
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}
html{scroll-behavior: smooth;}
body{
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
}
.m-t{
  margin-top: 15px;
}
::selection{
    background-color: var(--text-color);
    color: #fff;
}

body.dark{
    --body-color: #18191a;
    --sidebar-color: #242526;
    --primary-color: #3a3b3c;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --toggle-color2: #7a7b7d;
    --text-color: #ccc;
    --text-color2: #fff;
    --text-color3: #93ff9380;
}



/* ===== Sidebar ===== */
 .sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 5;  
}
.sidebar.close{
    width: 88px;
}

/* ===== Reusable code - Here ===== */
.sidebar li{
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.sidebar header .image,
.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
    cursor: pointer;
}

.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.sidebar .text,
.sidebar .icon{
    color: var(--text-color);
    transition: var(--tran-03);
}

.sidebar .text{
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}
.sidebar.close .text{
    opacity: 0;
}

/* =========================== */

.sidebar header{
    position: relative;
}

.sidebar header .image-text{
    display: flex;
    align-items: center;
}
.sidebar header .logo-text{
    display: flex;
    flex-direction: column;
}
header .image-text .name {
    margin-top: 2px;
    font-size: 18px;
    font-weight: 600;
}

header .image-text .profession{
    font-size: 16px;
    position: absolute;
    top: 50px;
    left: 1px;
}

.sidebar header .image{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar header .image img{
  height: 40px;
    width: 40px;
    border-radius: 6px;
}

.sidebar header .toggle{
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background-color: var(--primary-color);
    color: var(--sidebar-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    transition: var(--tran-05);
}

body.dark .sidebar header .toggle{
    color: var(--text-color);
}

.sidebar.close .toggle{
    transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu{
    margin-top: 40px;
}

.sidebar li.search-box{
    border-radius: 6px;
    background-color: var(--primary-color-light);
    cursor: pointer;
    transition: var(--tran-05);
}

.sidebar li.search-box input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background-color: var(--primary-color-light);
    color: var(--text-color);
    border-radius: 6px;
    font-size: 17px;
    font-weight: 500;
    transition: var(--tran-05);
}
.sidebar li a,.postssett li,.Notifications li , .search_box_sl li{
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--tran-03);
}
ul{padding-left: 0; }
.sidebar li a:hover,.postssett li:hover {
    background-color: var(--primary-color);
    box-shadow: 6px 4px 7px var(--text-color5);
    
}
li.ac a{
  background-color: var(--primary-color);
  
}
li.ac a .icon,
li.ac a .text{
  color: var(--sidebar-color);
}
body.dark li.ac a .icon,
body.dark li.ac a .text{
    color: var(--text-color);
}
.sidebar li a:hover .icon,
.sidebar li a:hover .text,
.postssett li:hover{
    color: var(--sidebar-color);
}
body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text,
body.postssett li:hover{
    color: var(--text-color);
}

.sidebar .menu-bar{
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}
.menu-bar::-webkit-scrollbar{
    display: none;
}
.sidebar .menu-bar .mode{
    border-radius: 6px;
    background-color: var(--primary-color-light);
    position: relative;
    transition: var(--tran-05);
}
.menu-links{
    padding: 0;
}
.menu-bar .mode .sun-moon{
    height: 50px;
    width: 60px;
}

.mode .sun-moon i{
    position: absolute;
}
.mode .sun-moon i.sun{
    opacity: 0;
}
body.dark .mode .sun-moon i.sun{
    opacity: 1;
}
body.dark .mode .sun-moon i.moon{
    opacity: 0;
}

.menu-bar .bottom-content .toggle-switch{
    position: absolute;
    right: 0;
    height: 100%;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}
.toggle-switch .switch{
    position: relative;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
    transition: var(--tran-05);
}

.switch::before{
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: var(--sidebar-color);
    transition: var(--tran-04);
}

body.dark .switch::before{
    left: 20px;
}
.cont{
	display: flex;
	justify-content: space-between;
  /* overflow: hidden; */
	/* padding: 13px 5%; */
}

.right{
    flex-basis: 20%;
    position: fixed;
    z-index: 0;
    right: -500px;
    height: 720px;
    align-self: flex-start;
    background-color: var(--sidebar-color);
    width: 230px;
    margin-top: 20px;
    border-radius: 10px;
    color: #626262;
    overflow: hidden;
    transition: var(--tran-05);
}
.left{
    flex-basis: 25%;
	position: sticky;
	align-self: flex-start;
    left: 300px;
    /* margin-top: 20px; */
    width: 665px;
    height: 100vh;
    
    background-color: var(--body-color);
    transition: var(--tran-05);
}

.left .text{
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 12px 60px;
}

.sidebar.close ~ .cont .left{
    left: 130px;
}
.sidebar.close  ~ .cont .left .container_post{left:130px;}
.sidebar.close ~ .cont  .right{
  flex-basis: 25%;
  right: 31px;
}
body.dark .left .text{
    color: var(--text-color);
} 
:is(.postssett, .search_box_sl ,.Notifications) li:not(:last-child){border-bottom: 1px solid var(--text-color5);}
.postssett{
  position: absolute;
  width: 0;
  overflow: hidden;
  opacity: 0;
  color: var(--text-color);
  background-color: var(--sidebar-color);
}
.btnpostssett.run ~ .postssett{
  opacity: 1;
  width: 226px;
  height: 175px;
  border-radius: 10px;
  left: 12px;
  box-shadow: 0 0 10px rgb(0 0 0 / 10%);
  top: 290px;
}
.sidebar.close .menu-bar .menu .menu-links .btnpostssett.run ~ .postssett{
  opacity: 1;
  width: 222px;
  height: 175px;
  border-radius: 10px;
  left: 115px;
  box-shadow: 0 0 10px rgb(0 0 0 / 10%);
  top: 290px;
}
.sidebar.close .menu-bar .menu .menu-links .btnsetting.run::before,
.sidebar.close .menu-bar .menu .menu-links .btnpostssett.run::before{
opacity: 1;
}
.btnsetting::before,.btnpostssett::before ,.btnNotifications::before ,.search-box::before{
  content: '';
  position: absolute;
  z-index: -1;
  opacity: 0;
  border: 10px solid;
  border-color: var(--sidebar-color);
  transition:  .5s;
  border-radius: 0px 0px 0px 4px;
  transform: rotate(45deg);
}
.btnsetting::before{top: 485px;right: -42px;}

.btnpostssett::before{top: 310px;right: -42px;}
.btnpostssett.run ~ .postssett li ,.Notifications li , .search_box_sl li{
  padding: 10px;
  margin-left: 10px;
  position: relative;
  transition: var(--tran-03);
  margin-bottom: 5px;
  cursor: pointer;
}
.btnpostssett.run ~ .postssett li:hover::before, .btnpostssett.run ~ .postssett li:hover::after{
  opacity: 1;
}
.btnpostssett.run ~ .postssett li::before{
  content: '';
  position: absolute;
  top: 0px;
  right: 10px;
  opacity: 0;
  border: 10px solid;
  border-color: var(--primary-color);
  box-shadow: 10px -14px 0px var(--sidebar-color);
  transition: .5s;
  border-radius: 0 10px 0 0;

}
 .btnpostssett.run ~ .postssett li::after{
  transition: var(--tran-03);
  content: '';
  position: absolute;
  opacity: 0;
  bottom: -3px;
  border-radius: 25px 31px;
  border: 10px solid;
  border-color: var(--primary-color);
  box-shadow: -9px -3px 14px var(--primary-color);
  right: -5px;
}
.search_box_sl ,.Notifications{
  background-color: var(--sidebar-color);
  position: absolute;
  border-radius: 10px;
  color: var(--text-color);
  overflow: hidden;
  width: 0;
  height: 0;
  transition: var(--tran-03);
  left: 105px;
  top: 415px;
  box-shadow: 0 0 10px rgb(0 0 0 / 10%);
}
.btnNotifications::before {top: 370px;left: 105px;}
.search-box.runSearch::before{top: 115px;left: 270px;opacity: 1;}
.sidebar.close .menu-bar .menu .menu-links .btnNotifications.run::before{left: 105px;opacity: 1;}
.sidebar .menu-bar .menu .menu-links .btnNotifications.run::before{left: 270px;opacity: 1;}

.sidebar.close .menu-bar .menu .menu-links .btnNotifications.run ~ .Notifications,
.sidebar.close .menu-bar .menu .menu-links .search-box.runSearch ~ .search_box_sl{height: 350px;width: 300px;top: 120px;left: 115px;}
.btnNotifications.run ~ .Notifications{height: 350px;width: 300px;top: 120px;left: 280px;}
.search-box.runSearch ~ .search_box_sl {height: 350px;width: 200px;top: 99px;left: 280px;}
/* .search_box_sl{display: none;} */

.Notifications li , .search_box_sl li{
  display: flex;
  justify-content: space-between;
  margin-left: -1px;
  transition: var(--tran-04);
}
.backnot.roro {opacity: 1;z-index: 1;}
.backnot{opacity: 0;z-index: -1;}
:where(.elelment , .Notifications , .search_box_sl) i{left: 270px;font-size: 20px;position: absolute;cursor: pointer;}
.Notifications  .backnot:hover::before{content: "\F129";}
.Notifications ul , .search_box_sl ul{margin-top: 27px;}
.Notifications  img, .search_box_sl  img{height: 35px; width: 35px;border-radius: 50%;}
.Notifications li p, .search_box_sl li p{font-size: 18px;}
.Notifications li span, .search_box_sl li span{font-size: 10px;align-self: end;}
.Notifications li:hover , .search_box_sl li:hover{
  box-shadow: 6px 4px 10px var(--text-color);
}
.Notifications .showNotifications{
  position: absolute;
  width: 100%;
  top: 25px;
  height: 100%;
  background: var(--sidebar-color);
  display: flex;
  flex-direction: column;
  left: 100%;
  transition: var(--tran-03);
}
.Notifications .showNotifications div{display: flex;align-items: end;}
.sender, .sub{padding: 4px 20px;border-bottom: 0.1px solid var(--text-color5);}
.Notifications .showNotifications p{padding: 10px;width: 280px;}
.Notifications .showNotifications *{margin-left: 10px;}


/* //////////////////////////////////////// */

::selection{
    color: var(--text-color);
    background: #1a81ff;
  }
  .container_post{
    margin-top: 15px;
    width: 71%;
    z-index: 111;
    left: 300px;
    height: 300px;
    overflow: hidden;
    background:var(--sidebar-color);
    border-radius: 10px;
    transition: all 0.4s ease;
    box-shadow: 0 12px 28px rgba(0, 0, 0, 0.12);
    position: fixed;
    /* transition: .5s; */
  
  
  }
  .container_post .wrapper{
    width: 2000px;
    display: flex;
  }
  .container_post .wrapper section{
    width: 794px;

  }
  .container_post img{
    cursor: pointer;
  }
  .container_post .post{
    transition: margin-left 0.18s ease;
  }
  .container_post.active .post{
    margin-left: -800px;
  }
  .post header{
    font-size: 22px;
    font-weight: 600;
    padding: 17px 0;
    text-align: center;
    border-bottom: 1px solid #bfbfbf;
  }
  .post form{
    margin: 20px 25px;
    width: 120%;
    position: relative;
  }
  .user-profile,
  .audience .list li .column{
    display: flex;
    align-items: center;
  }
  .user-profile img{
    border-radius: 50%;
  }
  .left img{
    cursor: default;
    max-width: 52px;
    height: 40px;
  }
  .user-profile .details{
    margin: -3px 0 0 12px;
  }
  .user-profile .details p{
    font-size: 17px;
    font-weight: 500;
  }
  .user-profile .details .privacy{
    display: flex;
    height: 25px;
    
    cursor: pointer;
    padding: 0 5px;
    font-size: 11px;
    margin-top: 3px;
    border-radius: 5px;
    align-items: center;
    max-width: 98px;
    background: var(--toggle-color2);
    justify-content: space-between;
  }
  .details .privacy span{
    font-size: 13px;
    margin-top: 1px;
    font-weight: 500;
  }
  .details .privacy i:last-child{
    font-size: 13px;
    margin-left: 1px;
  }
  .post form :where(textarea, button){
    width: 100%;
    outline: none;
    border: none;
  }
  :is(.post form , #formEditProfile) textarea{
    background-color: inherit;
    resize: none;
    font-size: 18px;
    margin-top: 30px;
    min-height: 100px;
  }
  :is(.post form , #formEditProfile) textarea::placeholder{
    color: var(--text-color);
  }
  :is(.post form , #formEditProfile) textarea:focus::placeholder{
    color: var(--text-color);
  }
  
  
  .post form .options{
    width: 550px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 57px;
    margin: 15px 0;
    padding: 0 15px;
    border-radius: 7px;
    border: 1px solid #B9B9B9;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    transition: .5s;
  }
  .audience :where(.arrow-back, .icon, li .radio){
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .post form .options p{
    color: #595959;
    font-size: 15px;
    font-weight: 500;
    cursor: default;
  }
  .options  i:hover{
    color: rgb(0 120 255);
    font-size: 28px;
  }
  .options  i{
    font-size: 26px;
    transition: .5s;
    cursor: pointer;
    color: rgb(0 150 255);
  }
  .post form button{
    width: 185px;
    position: absolute;
    right: 211px;
    bottom: 2px;
    height: 53px;
    color: var(--text-color);
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    color: #BCC0C4;
    cursor: no-drop;
    border-radius: 7px;
    background: #e2e5e9;
    transition: all 0.3s ease;
  }
  .post form textarea:valid ~ button{
    color: var(--text-color);
    cursor: pointer;
    background: #4599FF;
  }
  .post form textarea:valid ~ button:hover{
    background: #1a81ff;
  }
  .container_post .audience{
    opacity: 0;
    transition: opacity 0.12s ease;
  }
  .container_post.active .audience{
    opacity: 1;
  }
  .audience header{
    padding: 8px 0;
    text-align: center;
    position: relative;
    border-bottom: 1px solid #bfbfbf;
  }
  .audience header .arrow-back{
    position: absolute;
    left: 25px;
    width: 35px;
    height: 35px;
    cursor: pointer;
    font-size: 30px;
    /* color: #747474; */
    border-radius: 50%;
    /* background: #E4E6EB; */
  }
  .audience header p{
    font-size: 22px;
    font-weight: 600;
  }
  .audience .content{
    margin: 8px 25px 0;
  }
  .audience .content p{
    font-size: 17px;
    font-weight: 500;
  }
  .audience .content span{
    font-size: 14px;
    color: #65676B;
  }
  .audience .list{
    margin: 8px 20px 20px;
    list-style: none;
  }
  .audience .list li{
    display: flex;
    cursor: pointer;
    margin-bottom: 5px;
    padding: 3px 10px;
    border-radius: 7px;
    align-items: center;
    justify-content: space-between;
  }
  .list li.active,
  .audience .list li.active:hover{
    background: #E5F1FF;
  }
  .audience .list li:hover{
    background: #f0f1f4;
  }
  .audience .list li .column .icon{
    height: 50px;
    width: 50px;
    color: #333;
    font-size: 23px;
    border-radius: 50%;
    background: #E4E6EB;
  }
  .audience .list li.active .column .icon{
    background: #cce4ff;
  }
  .audience .list li .column .details{
    margin-left: 15px;
  }
  .list li .column .details p{
    font-weight: 500;
  }
  .list li .column .details span{
    font-size: 14px;
    color: #65676B;
  }
  .list li .radio{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position: relative;
    border: 1px solid #707070;
  }
  .list li.active .radio{
    border: 2px solid #4599FF;
  }
  .list li .radio::before{
    content: "";
    width: 12px;
    height: 12px;
    border-radius: inherit;
  }
  .list li.active .radio::before{
    background: #4599FF;
  }

  /* //////////////////////////////////////////// */

  .right-sidebar{
    height: 100%;
	top: 70px;
	align-self: flex-start;
	background:var(--sidebar-color);
	padding:20px;
	border-radius: 4px;
	color:#626262;
}
.sidebar-title{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 18px;
}
.event{
	display: flex;
	font-size: 14px;
	margin-bottom: 20px;
  height: 90%;
}
.right-event {width: 100%;display: flex;flex-direction: column;}
.event p{
	font-size:12px;
}
.event ul {
  list-style: none;
  width: 100%;
}
.event ul li{margin: 15px 0px;}
.event a{
  cursor: pointer;
	font-size: 12px;
	text-decoration: none;
	color:var(--primary-color);
  align-self: flex-end;
}
/* ///////////////////////////////////////////// */
.postes{
  position: relative;
  margin-top: 20px;
}
/* .postTime{} */
.btt {
  height: 30px;
  width: 85px;
  position: absolute;
  top: 245px;
  border: none;
  background-color: inherit;
  cursor: pointer;
  color: var(--text-color);
}
.btt i{
  font-size: 20px;
}
.btt:hover i{
  font-size: 25px;
}
.btt.rrun i{
  font-size: 25px;
}
.btncomm{left: 45%;}
.btnshear{left: 85%;}
.posts{
	width: 100%;
	background:var(--sidebar-color);
	border-radius: 6px;
	padding: 5px 20px;
	color: var(--text-color);
	/* margin:20px 0; */
  transition: var(--tran-03);
}
.user-profile span{
	font-size: 13px;
    
}
.post-text{
    margin: 15px 0;
    font-size: 15px;
    min-height: 100px;
    max-height: 150px;
}
.post-text span{
	
	font-weight: 500;
}
.post-text a{
	color:#1876f2;
	text-decoration: none;
}
.post-img{
	width: 100%;
	border-radius: 4px;
	margin-bottom: 5px;
}

.media{
  height: 50px;
  border: 1px solid;
  border-radius: 6px;
  font-size: 35px;
  margin-bottom: 40px;
  color: var(--text-color);
  position: relative;
  display: flex;
}
.media i{
  cursor: pointer;
  transition: var(--tran-05);
}
.media .fFile{position: relative;}
.media .fFile::after,.media .fFile::before{
  content: '';
  position: absolute;
  left: 50%;
  transform: translate(-50% , 3px);
  visibility: hidden;
  transition: var(--tran-03);
  box-shadow: 0 0 10px var(--text-color5);
}
.media .fFile::before{
  top: -10px;
  border: 5px solid transparent;
  border-top-color:var(--text-color2);
  /* box-shadow: 0 0 10px var(--text-color5); */

}
.media .fFile::after{
  content: attr(data-tooltip);
  border-radius: 5px;
  background-color: var(--sidebar-color);
  position: absolute;
  top: -30px;
  padding: 2px 5px;
  font-size: 12px;
  color: var(--text-color);
}
.media .fFile:hover::before,.media .fFile:hover::after{visibility: visible;transform: translate(-50%,0);}
.biImage::before {content: "\f36d";}
.biImage:hover::before {content: "\F36C";}
.biMusic::before {content: "\f377";}
.biMusic:hover::before {content: "\F376";}
.biPdf::before {content: "\f63e";}
.biPdf:hover::before {content: "\F63D";}
.biPlay::before {content: "\f37b";}
.biPlay:hover::before {content: "\F37A";}
.btncomm.showcomm ~ .comm{
  height: 250px;
  max-height: 300px;
}
.btncomm.hiddcomm ~  .comm{
  height: 0;
} 

.comm{
  overflow: auto;
  background: rgb(0 0 0 / 2%);
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    transition: .5s;
}
/* .commSl{height: 0;}
.commAc{} */
.comm img{
  width: 35px;
  height: 35px;
    border-radius: 50%;
    margin-right: 10px;
}
.comment{
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}
.comment *{
  margin: 5px;
  display: flex;
  align-items: center;
  position: relative;
}
.comment p{
  background: var(--sidebar-color);
  padding: 5px 12px;
  border-radius: 0 10px;
  margin-top: 15px;
}
.comment .commUserName {
  position: absolute;
  top: -2px;
  left: 50px;
}
.comment span{
  font-size: 10px;
  align-self: self-end;
  color: var(--text-color);
}
.comment .doc{
  align-self: end;
  flex-direction: row-reverse;

}
.comment .doc p{
  border-radius: 10px 0;
  color: var(--text-color3);
}
.comment .users p{
  color: var(--text-color);
}
.comment .user p{
  color: var(--text-color2);
}
.writ-comment{
  position: relative;
}
.writ-comment input{
  background: var(--sidebar-color);
  outline: none;
  padding: 5px;
  width: 500px;
  height: 40px;
  color: var(--text-color2);
  font-size: 16px;
  border-radius: 5px 0 0 5px;
  margin: 10px 100px;
  border: 1px solid #ccc;
}
.writ-comment button{
  cursor: pointer;
  background-color: var(--primary-color);
  color: var(--text-color);
  position: relative;
  /* margin: 0 75px; */
  font-size: 25px;
  left: -100px;
  /* bottom: 5px; */
  border: none;
  outline: none;
  border-radius: 0 5px 5px 0;
  width: 40px;
}
form.Fwrit-comment {
    display: flex;
    justify-content: center;
    align-items: center;
}
.writ-comment button svg{
  width: 40px;
    height: 26px;
    position: absolute;
    left: 0;
    top: 8px;
    
}
.add {
  cursor: pointer;
  position: absolute;
  z-index: 50;
  top: -10px;
  left: 20px;
  /* padding: 10px; */
  width: 50px;
  height: 50px;
  color: var(--text-color2);
  background: var(--sidebar-color);
  border-radius: 50%;
  transition: .5s;
}
.add svg{
  cursor: pointer;
  width: 100%;
  height: 100%;
}
.addAc{transform: rotate(45deg);}
.addSl{transform: rotate(0);}

.container_postAc{top:0px;}
.container_postSl{top: -1000px;}
/*--elemt style strat here--*/
.AlertBox,.profile ,.showMedia{
  width: 0;
  height: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  transition: var(--tran-04);
  transform: translate(-50%,-50%);
  box-shadow: 0 0 10px rgb(0 0 0 / 10%);
  overflow: hidden;
}
.profile ,.showMedia{
  width:500px;
  background: var(--sidebar-color);
  border-radius: 5px;
  padding:3em 2em;
  box-shadow: 1px 1px 15px rgb(0 0 0 / 10%);
}

:where(.AlertBox , .profile) button {
  position: relative;
  font-size: 1em;
  color: #fff;
  background: #0086E5;
  width: 50%;
  padding: 0.8em 0em;
  outline: none;
  border: none;
  top: -210px;
  border-radius: 5px;
  cursor: pointer;
  border-bottom: 3px solid #045B99;
  display: block;
  margin: 1.5em auto 0;
}
.profile button:hover{
  background:var(--primary-color);
  border-bottom: 3px solid #2F2F2F;  
  transition: 0.5s all;
}
.error1{color:var(--AlertBox-color1);}
.error2{color:var(--AlertBox-color2);}
.error3{color:var(--AlertBox-color3);}
.AlertBox.runAlertBox{
  z-index: 111;
  width: 300px;
  height: 330px;
  background: var(--sidebar-color);
  border-radius: 5px;
  padding:3em 2em;
  box-shadow: 1px 1px 15px rgb(0 0 0 / 10%);
  text-align: center;
  overflow: inherit;
}
.AlertBox p{color: var(--text-color);}
.AlertBox i{font-size: 100px;}
.AlertBox button{top: 0;}
.AlertBox.runAlertBox ~.ooooh {
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;
  left: 0;
  z-index: 99;
    background: var(--text-color5);
}
.settPost{cursor: pointer; transition: var(--tran-04); position: absolute;left: 95%;top: 10px;font-size: 25px;}
.settPostList{transition: var(--tran-04); opacity: 0; z-index: -1; list-style: none;padding: 5px;position: absolute;background: var(--sidebar-color);border-radius: 6px;left: 82%;top: 10px;box-shadow: 0px 2px 3px #333;}
.settPost.rrrun ~ .settPostList{opacity: 1; z-index: 3;}
.settPostList li{padding: 7px;cursor: pointer;}
 
:is(.event, .settPostList) li:not(:last-child){border-bottom: 1px solid var(--text-color5);}
span.commEmpty {
    align-self: center;
}
.profile{transition: var(--tran-03);height:0;width: 0;opacity: 0;top: -1000px;visibility: hidden;}
.profile.showProfileRun{transition: var(--tran-03);height: 500px;width: 700px;opacity: 1;visibility: visible;top: 300px;}
.profile :where(i , #btneditImgProfile) ,:is(.showMedia ,.showAudio ) I{transition: var(--tran-03);cursor: pointer;position: absolute;font-size: 20px;right: 10px;top: 5px;}
:is(.showMedia ,.profile ,.showAudio) i:hover::before{content: "\F622";}
.profile #btneditImgProfile:hover i::before{content: "\F4C9";}
#formEditProfile{display: flex;position: relative;}
#formEditProfile img{height: 150px;width: 150px;align-self: center;margin-top: 20px;}
#formEditProfile :where(textarea , input ,select, .labelInput){
  font-size: 18px;
  color: var(--text-color);
  padding: 5px;
  width: 100%;
  height: 40px;
  outline: none;
  margin-bottom: 1em;
  text-align:center;
  border: 1px solid var(--text-color5);
  border-radius: 6px;
  background-color: inherit;
}
.btnOff{display: none;}
#formEditProfile textarea{height: 230px;margin-top: 35px;}
#formEditProfile select{width: 49%;}
#formEditProfile .labelInput{cursor: pointer;padding: 3% 18.5%;}
#formEditProfile #btneditImgProfile{top: 25px; right: 80px;}
#formEditProfile button{position: absolute;height: 40px;width: 300px;left: 10px;top: 82%;}
.rightProfile{align-items: flex-end;display: flex;flex-direction: column;}
.leftProfile{margin: 5px 10px;width: 50%;}
span#showProfile {width: 40px;height: 40px;}
.showMedia{transition: var(--tran-03);height:0;width: 0;opacity: 0;top: -1000px;visibility: hidden;}
.showMedia.showMediaRun{padding: 0; transition: var(--tran-03);height: 500px;width: 700px;opacity: 1;visibility: visible;top: 300px;}
.showMediaJs{height: 100%;width: 100%;}
.showMediaJs :where(img ,video ,iframe) {height: 100%;width: 100%;}
#closeShowMedia{z-index: 77;}
#closeShowAudio{z-index: 77;right: 0px;top: 12px;}
.showAudio{position: fixed;top: -100px;left: 400px;}
.showAudio.showAudioRun{transition: var(--tran-04); position: fixed;top: 10px;left: 400px;}
